/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

/* Root */
:root {
    --light-green: #7ed56f;
    --medium-green: #55c57a;
    --dark-green: #28b485;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
body {
    font-family: 'Lato', 'Segoe UI', Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    background: #f4f4f4;
    color: #999;
    padding: 30px;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #999;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
}

/* Main Header */
#main-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
     rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)),
    url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

