// Primary Colors
$primary-light: #7ed56f;
$primary-medium: #55c57a;
$primary-dark: #28b485;

// Dark, light
$light: #f4f4f4;
$light-f0: #f0f0f0;
$light-e4: #e4e4e4;
$light-9: #999;
$light-7: #777;
$dark: #333;