// Primary Colors
$primary-light: #7ed56f;
$primary-medium: #55c57a;
$primary-dark: #28b485;

// Secondary Colors
$snd-orange-light: #ffb900;
$snd-orange-heavy: #ff7730;
$snd-blue-light: #2998ff;
$snd-blue-heavy: #5643fa;

// Light Colors
$light: #f4f4f4;
$light-f0: #f0f0f0;
$light-e4: #e4e4e4;
$light-9: #999;
$light-7: #777;

// Dark Colors
$dark: #333;
$dark-4: #444;
$dark-5: #555;

// Shadow Color
$shadow-clr: rgba(#000, .2);