.composition {
    position: relative;
    height: 360px;

    &__img {
        width: 55%;
        box-shadow: 0 15px 40px 0 rgba(#000, .4);
        position: absolute;
        transition: .2s all;
        outline-offset: 1.25rem;

        &-1 {
            left: 0;
            top: -20px;
        }

        &-2 {
            right: 0;
            top: 20px;
        }

        &-3 {
            left: 20%;
            top: 100px;
        }

        &:hover {
            outline: .7rem $primary-medium solid;
            transform: scale(1.2);
            box-shadow: 0 25px 40px 0 rgba(#000, .4);
            z-index: 1;
        }
    }

    &:hover &__img:not(:hover) {
        transform: scale(.9);
    }
}