.feature-box {
    background: rgba($light-e4, .8);
    text-align: center;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 15px 40px 0 rgba($color: #000000, $alpha: .15);
    transition: .2s transform;
    backface-visibility: hidden;

    &__icon {
        display: inline-block;
        font-size: 3.75rem;
        margin-bottom: 1rem;
        color: transparent;
        background-image: linear-gradient(to right, $primary-light, $primary-dark);
        background-clip: initial;
        -webkit-background-clip: text;
        backface-visibility: hidden;
    }

    .section-snd-title {
        margin-bottom: .5rem;
        backface-visibility: hidden;
    }

    &__text {
        margin-top: 0;
        backface-visibility: hidden;
    }

    &:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0 15px 40px 0 rgba($color: #000000, $alpha: .4);
    }

}