.form {
    &__group {
        &:not(:last-child) {
            padding-bottom: .5rem;
        }
    }

    &__label {
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        margin: .5rem 0 0 1.3rem;
        transition: .4s all;
    }

    &__input {
        display: block;
        padding: 15px 20px;
        border-radius: 3px;
        width: 90%;
        background: rgba(#fff, .65);
        border: none;
        font-family: inherit;
        color: inherit;
        outline: none;
        border-bottom: 3px transparent solid;
        transition: .4s box-shadow ease, .4s border ease;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            border-bottom: 3px $primary-medium solid;
            box-shadow: 0 0 15px 0 rgba(#000, .3);

            &:invalid {
                border-bottom: 3px $snd-orange-heavy solid;
            }
        }

        &::-webkit-input-placeholder {
            color: $light-9;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0; // The element is still there and can be selected --> visibility: hidden
        visibility: hidden; // Can't be animated --> opacity: 0
        transform: translateY(-40px);
    }

    &__radio {
        // width: 40%;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;

            @include respond(tab-port) {
                margin-right: 40px;
            }
        }

        &-label {
            cursor: pointer;
            display: flex;
            height: 3.5rem;
            align-items: center;
        }

        &-btn {
            height: 30px;
            width: 30px;
            border: 5px solid $primary-dark;
            border-radius: 50%;
            display: inline-block;
            margin-right: .9rem;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                height: 13px;
                width: 13px;
                background: $primary-dark;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: .3s opacity;
            }
        }

        &-input:checked + &-label &-btn::after {
            opacity: 1;
        }

        &-input {
            display: none;
        }
    }
}