.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    background: rgba(#000, .8);
    // filter: blur(3px) brightness(70%);

    // Hiding
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s, opacity .5s;

    &__content {
        @include center-h-v;
        width: 65%;
        border-radius: 5px;
        box-shadow: 0 20px 20px 0 $shadow-clr;
        display: flex;
        overflow: hidden;
        transform: translate(-50%, -50%) scale(0); // already we have a transform proprety 'centering', so this one will overwrite it
        transition: transform .5s .2s;
        // display: table;

        @include respond(tab-land) {
            width: 80%;
        }

        @include respond(tab-port) {
            display: block;
        }
    }

    &__close {
        color: $light-9;
        position: absolute;
        top: 0;
        right: 1rem;
        font-size: 3rem;
        line-height: 1;

        &:hover {
            color: $primary-medium;
        }
    }

    &__img-box {
        width: 33%;
        // display: table-cell;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__img-1 {
        width: 100%;
        height: 50%;
        background: url('../img/nat-8.jpg') no-repeat center center/ cover;
    }

    &__img-2 {
        width: 100%;
        height: 50%;
        background: url('../img/nat-9.jpg') no-repeat center center/ cover;
    }

    &__text-box {
        padding: 50px 30px;
        width: 67%;
        background: #fff;

        .section-snd-title {
            margin: 0;
        }
        // display: table-cell;
        // vertical-align: middle;

        @include respond(tab-port) {
            width: 100%;

            .section-title {
                display: none;
            }

            .section-snd-title {
                color: transparent;
                text-align: center;
                background-image: linear-gradient(to right, $primary-light, $primary-dark);
                background-clip: text;
                -webkit-background-clip: text;
                font-size: 1.5rem;
            }
        }
    }

    &__text {
        column-count: 2;
        column-gap: 3rem;
        column-rule: 1px $light-e4 solid;
        @include hyphens(auto);

        @include respond(tab-port) {
            column-count: 1;
        }
    }

    // Showing popup
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
    }
}