.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    background: rgba(#000, .6);
    // filter: blur(3px) brightness(70%);

    &__content {
        @include center-h-v;
        width: 65%;
        border-radius: 5px;
        box-shadow: 0 20px 20px 0 $shadow-clr;
        display: flex;
        overflow: hidden;
        // display: table;
    }

    &__img-box {
        width: 33%;
        // display: table-cell;
    }

    &__img-1 {
        width: 100%;
        height: 50%;
        background: url('../img/nat-8.jpg') no-repeat center center/ cover;
    }

    &__img-2 {
        width: 100%;
        height: 50%;
        background: url('../img/nat-9.jpg') no-repeat center center/ cover;
    }

    &__text-box {
        padding: 50px 30px;
        width: 67%;
        background: #fff;

        .section-snd-title {
            margin: 0;
        }
        // display: table-cell;
        // vertical-align: middle;
    }

    &__text {
        column-count: 2;
        column-gap: 3rem;
        column-rule: 1px $light-e4 solid;

        @include hyphens(auto);
    }
}