.tour-box {
    perspective: 1500px;
    -moz-perspective: 1500px;
    position: relative;
    width: 300px;
    margin: 1.5rem auto;
    width: 25vw;
    height: 500px; //fix

    // @include respond(big-desk) {
    //     width: 400px;
    // }

    @media (max-width: 1100px) {
        width: 280px;
    }

    @media (max-width: 1000px) {
        width: 260px;
    }

    @include respond(tab-port) {
        width: 400px;
    }

    @include respond(phone) {
        width: 70vw;
        height: 400px;
    }

    &__side {
        height: 100%;
        transition: .5s all ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; // Hiding the back part of an element
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 15px 40px 0 rgba(#000, .15);

        &-front {
            background: #fff;
        }

        &-back {
            transform: rotateY(180deg);

            &--1 {
                background: linear-gradient(to right bottom, $snd-orange-light, $snd-orange-heavy);
            }

            &--2 {
                background: linear-gradient(to right bottom, $primary-light, $primary-dark);
            }

            &--3 {
                background: linear-gradient(to right bottom, $snd-blue-light, $snd-blue-heavy);
            }
        }
    }

    &:hover &__side-front {
        transform: rotateY(-180deg);
    }

    &:hover &__side-back {
        transform: rotateY(0);
    }

    // Box Content
    &__img {
        height: 230px;
        background-blend-mode: screen; // COLOR + IMG integration
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        backface-visibility: hidden;

        @include respond(phone) {
            height: 200px;
        }

        &--1 {
            background: linear-gradient(to right bottom, $snd-orange-light, $snd-orange-heavier),
            url('../img/nat-5-small.jpg') no-repeat center center/ cover; //$snd-orange-heavy

            // @media (min-width: 900px),
            // (min-resolution: 190dpi) {
            //     background: linear-gradient(to right bottom, $snd-orange-light, $snd-orange-heavy),
            //     url('../img/nat-5.jpg') no-repeat center center/ cover;
            // }
        }

        &--2 {
            background: linear-gradient(to right bottom, $primary-light, $primary-darker),
            url('../img/nat-6-small.jpg') no-repeat center center/ cover;

            // @media (min-width: 900px),
            // (min-resolution: 190dpi) {
            //     background: linear-gradient(to right bottom, $primary-light, $primary-dark),
            //     url('../img/nat-6.jpg') no-repeat center center/ cover;
            // }
        }

        &--3 {
            background: linear-gradient(to right bottom, $snd-blue-light, $snd-blue-heavier),
            url('../img/nat-7-small.jpg') no-repeat center center/ cover;  //$snd-blue-heavy

            // @media (min-width: 900px),
            // (min-resolution: 190dpi) {
            //     background: linear-gradient(to right bottom, $snd-blue-light, $snd-blue-heavy),
            //     url('../img/nat-7.jpg') no-repeat center center/ cover;
            // }
        }
    }

    &__heading {
        font-size: 1.75rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        position: absolute;
        top: 120px;
        right: 20px;
        width: 75%;

        @include respond(phone) {
            font-size: 22px;
            top: 110px;
            right: 15px;
        }

        &-span {
            padding: 3px;
            display: inline-block;

            &--2 {
                position: absolute;
                top: 37px;
                right: 0;
            }
        }

        &--1 {
            span {
                background: linear-gradient(to right bottom,
                     rgba($snd-orange-light, .85),
                     rgba($snd-orange-heavier, .85));
            }
        }

        &--2 {
            span {
                background: linear-gradient(to right bottom,
                     rgba($primary-light, .85),
                     rgba($primary-darker, .85));
            }
        }

        &--3 {
            span {
                background: linear-gradient(to right bottom,
                     rgba($snd-blue-light, .85),
                     rgba($snd-blue-heavier, .85));
            }
        }
    }

    &__heading-span {
        // padding: 10px 15px;
        // -webkit-box-decoration-break: clone;
        // box-decoration-break: clone;

        &--1 {
            background: linear-gradient(to right bottom,
                rgba($snd-orange-light, .85),
                rgba($snd-orange-heavy, .85));
        }
    }

    &__details {
        width: 55%;
        margin: 1.3rem auto 0 auto;

        li {
            text-align: center;
            padding: 10px;
            color: $light-7;

            &:not(:last-child) {
                border-bottom: $light-9 1px dotted;
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;

        &--price {
            color: #fff;
            margin-bottom: 4rem;

            h2 {
                font-size: 3.75rem;
                font-weight: 100;
            }
        }
    }
}

@media only screen and (max-width: 900px),
only screen and (hover: none) {
    .tour-box {
        height: auto;
        // box-shadow: 0 15px 40px 0 rgba(#000, .15);
        // background: #fff;

        &__side {
            position: relative;
            height: auto;
            transition: 0s;
            box-shadow: none;
            border: none;

            &-front {
                border-radius: 7px 7px 0 0;
                padding-bottom: 2.5rem;
            }

            &-back {
                transform: rotateY(0);
                -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                padding: 1.5rem 0;
                border-radius: 0 0 7px 7px;
                margin-top: -2.5rem;
            }
        }
    
        &:hover &__side-front {
            transform: none;
        }
    
        &:hover &__side-back {
            transform: none;
        }
    
        &__cta {
            position: relative;
            top: 0;
            transform: none;
    
            &--price {
                margin-bottom: 0;
    
                h2 {
                    font-size: 3.2rem;
                }
            }
        }
    }
}