@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;

    @include respond(big-desk) {
        font-size: 120%;
    }

    @include respond(tab-land) {
        font-size: 90%;
    }

    @include respond(tab-port) {
        font-size: 80%;
    }
}

body {
    background: #f4f4f4;
    padding: 1.8rem;
    overflow-x: hidden;

    @include respond(tab-port) {
        padding: 0;
    }
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #999;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
}