@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    padding: 30px;
    overflow-x: hidden;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #999;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
}