body {
    font-family: 'Lato', 'Segoe UI', Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: $dark-5;
}

// Lead Headings
.main-heading {
    color: #fff;
    text-transform: uppercase;
}

.l-heading,
.sub-heading {
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 1.7;

    @include respond(phone) {
        line-height: 1.5;
    }
}

.l-heading {
    font-size: 4rem;
    letter-spacing: 35px;

    @include respond(phone) {
        font-size: 3rem;
        letter-spacing: 1rem;
    }
}

.sub-heading {
    font-size: 20px;
    letter-spacing: 15px;

    @include respond(phone) {
        letter-spacing: .6rem;
    }
}

// Sections Headings
.section-title {
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to right, $primary-light, $primary-dark);
    color: transparent;
    background-clip: initial;
    -webkit-background-clip: text;
    transition: transform .2s;
    letter-spacing: 2px;

    @include respond(phone) {
        font-size: 1.8rem;
    }

    &:hover {
        transform: skewX(2deg) scale(1.1);
        text-shadow: 5px 5px 15px rgba(3,3,3, 0.5);
    }
}

.section-snd-title {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}