// Container
.container {
    max-width: 1280px;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

// Texts
.text-center {
    text-align: center;
}

// Backgrounds
.bg {
    &-primary-light {
        background: $primary-light;
        color: #fff;
    }
    &-dark {
        background: $dark;
        color: #fff;
    }
    &-light {
        background: $light;
        color: #111;
    }
    &-light-e4 {
        background: $light-e4;
        color: #111;
    }
}

// Next time make them in the mixins file
// Paddings
.p1 { padding: 1rem;}
.p2 { padding: 1.5rem;}
.p3 { padding: 2rem;}
.py1 { padding: 1rem 0;}
.py2 { padding: 1.5rem 0;}
.py3 { padding: 2rem 0;}

// Margins
.margin-b-2 { margin-bottom: 2.5rem;}
.margin-b-5 { margin-bottom: 5rem;}
.margin-t-2 { margin-top: 2.5rem;}
.margin-t-5 { margin-top: 5rem;}