.footer {
    background: #333;
    padding: 60px 50px;

    @include respond(tab-port) {
        padding: 35px 20px 5px 20px;
        font-size: 15px;
    }

    &__logo-box {
        width: 150px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;

        @include respond(phone) {
            // width: 100px;
            margin-bottom: 30px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
        color: $light-9;

        @include respond(phone) {
            display: block;
        }
    }

    &__nav {

        @include respond(phone) {
            // text-align: center;
            margin-bottom: 30px;
        }

        &-ul {
            display: inline-block;
            border-top: 1px $light-9 solid;
            padding-top: 1rem;

            @include respond(phone) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 10px;
            }
        }

        &-item {
            display: inline-block;
            padding: 0 .6rem;

            @include respond(phone) {
                display: block;
            }
        }
    }

    &__link {
        color: #c8c8c8;
        text-transform: capitalize;
        display: inline-block;
        padding: 0 3px;
        transition: .3s box-shadow, .3s transform;

        @include respond(phone) {
            padding: 2px 4px;
        }

        &:hover {
            color: $primary-medium;
            box-shadow: 0 3px 5px 0 rgba(#000, .4);
            transform: translateY(-1px);
        }
    }

    &__copyright {
        border-top: 1px $light-9 solid;
        padding-top: 1rem;
        p {
            margin: 0;
        }
    }
}