.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        rgba($primary-light, 0.8), rgba($primary-dark, 0.8)),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @include respond(phone) {
        --webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-link {
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 130px;

        @include respond(tab-port) {
            width: 100px;
        }

        @include respond(phone) {
            width: 80px;
        }
    }

    &__lead-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .l-heading {
        backface-visibility: hidden;
        animation: move-left 2s;
    }

    .sub-heading {
        animation: move-right 2s;
        margin-bottom: 1.5rem;
    }

    .lead-box .btn {
        animation: move-top 2s;
    }
}