.navigation {
    &__checkbox {
        display: none;
    }

    &__btn {
        background: #fff;
        height: 70px;
        width: 70px;
        position: fixed;
        top: 50px;
        right: 50px;
        z-index: 20;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 20px 0 rgba(#000, .2);
    }

    &__background {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        position: fixed;
        top: 55px;
        right: 55px;
        background-image: radial-gradient($primary-light 5%, $primary-dark 25%);
        z-index: 10;
        transition: 1s transform cubic-bezier(0.65, 0, 0.35, 1);
        opacity: 0.9;
    }

    &__nav {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 15;
        opacity: 0;
        visibility: hidden;
        transition: 1s visibility, .5 opacity;
        transition-delay: .5s;
    }

    &__list {
        @include center-h-v;
        text-align: center;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 20px;
        background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        background-size: 300%;
        transition: background .9s, color .6s, transform .6s;

        &:hover {
            background-position: 100%;
            color: $primary-medium;
            transform: translateX(10px);
            box-shadow: -5px 5px 15px 0 $shadow-clr;
        }
    }

    // Showing the menu
    &__checkbox:checked ~ &__background {
        transform: scale(100);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        visibility: visible;
        @include move-right-1;
        animation-duration: .3s;
        animation-delay: .5s;
        // animation-timing-function: cubic-bezier(.21,-0.21,.63,1.29);
    }

    // Hamburger Icon
    &__icon {
        @include center-h-v;

        &,
        &::after,
        &::before {
            display: inline-block;
            width: 30px;
            height: 2px;
            background: #333;
            transition: all .2s;
        }

        &::after, &::before {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before { top: -8px;}
        &::after { bottom: -8px;}
    }

    &__btn:hover &__icon {
        &::before { top: -10px;}
        &::after { bottom: -10px;}
    }

    // Hamburger icon animation
    &__checkbox:checked + &__btn &__icon {
        background: transparent;

        &::before {
            top: 0;
            transform: rotate(135deg); // transform-origin: (default: center); tells where to rotate.
        }

        &::after {
            top: 0;
            transform: rotate(-135deg);
        }
    }
}